html, body {
    margin   : 0;
    padding  : 0;
    height   : 100%;
    width    : 100%;
}


body {
    background-color : rgba(74, 121, 147, 0.89);
    background       : radial-gradient(farthest-side ellipse at 10% 0, rgba(25,25,25, 0.89), rgba(25,25,25,0.89), rgba(25,25,25, 0.89)), url("../images/bgnoise_lg_dark.png");
    background       : -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(25,25,25, 0.89), rgba(25,25,25,0.89), rgba(25,25,25, 0.89)), url("../images/bgnoise_lg_dark.png");
    background       : -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(25,25,25, 0.89), rgba(25,25,25,0.89), rgba(25,25,25, 0.89)), url("../images/bgnoise_lg_dark.png");
    color            : black;
}


.selector {
    color : rgb(255,236,189);
    font  : 25px arial, sans-serif;
}


.selectorButton {
    font : 35px arial, sans-serif;
}


.selectorList {
    margin-top : -50px;
}


.chart-title {
    color : #808080;
}


.availGrey {
    color : #6A6B6E;
}


.top-buffer { 
    margin-top : 10px; 
}


div {
    margin  : 0;
    padding : 0;
}


.scrollable-menu {
    height     : auto;
    max-height : 200px;
    overflow-x : hidden;
}


.container {
    margin  : 0 auto;
    padding : 0;
    width   : 96%;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.title {
  color: #E8C558;
}

.link {
  fill: none;
  stroke: #68696C;
  stroke-width: 1.5px;
}

.label {
    color: #E55D38;
    fill: #34ACCB;
}
